# PREDSTAVITEV GIBANJA CEN KRIPTOVALUT IN NJIHOVA ANALIZA

Avtor: Žan Luka Kolarič

## UVOD
V tej nalogi bom najprej pridobil podatke treh največjih kriptovalut za obdobje 10 let, lahko bi izbral tudi drugačno obdobje, jih urediti, analizirati in seveda shraniti. Najprej bom dodal nekaj stolpcev z novimi podatki k že obstoječim podatkom, nato pa s pomočjo grafov analiziral gibanje cen in njihovih rasti.

## PRIDOBITEV IN UREJANJE PODATKOV

Najprej uvozim potrebne knjižnice, ki so potrebne za prenos podatkov in njihovo urejanje.

In [47]:
import pandas as pd
import yfinance as yf

Za nadaljevanje si moramo na spletni strani Yahoo finance izbrati kriptovalute, katerih podatki nas zanimajo. Sam si bom izbral naslednje tri v primerjavi z ameriškim dolarjem:

In [48]:
imena_kriptovalut = ['BTC-USD', 'BNB-USD', 'ETH-USD']

Sedaj si lahko izberemo časovni interval, katerega bomo gledali tj. začetek (z) in konec (k).Če teh dveh parametrov ne izberemo, se nastavita na vrednosti z = "2015-09-17" in k = "2023-07-31". Sam bom izbral naslednji vrednosti:

In [49]:
z = "2017-07-17"
k = "2023-07-18"

Za uvoz podatkov bomo uporabili funkcijo, ki jo uvozimo iz datoteke funkcije.py. S pomočjo te funkcije sem sedaj sestavil slovar, v katerem imam tri tabele, po eno za vsako kriptovaluto. Za predstavo si lahko pogledamo tabelo za Bitcoin.

In [50]:
from funkcije import pridobi_podatke
podatki_o_kriptovalutah = pridobi_podatke(imena_kriptovalut, z, k)
podatki_o_kriptovalutah["BTC-USD"]

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

                    Open          High  ...     Adj Close       Volume
Date                                    ...
2017-07-17   1932.619995   2230.489990  ...   2228.409912   1201760000
2017-07-18   2233.520020   2387.610107  ...   2318.879883   1512450048
2017-07-19   2323.080078   2397.169922  ...   2273.429932   1245100032
2017-07-20   2269.889893   2900.699951  ...   2817.600098   2249260032
2017-07-21   2838.409912   2838.409912  ...   2667.760010   1489449984
...                  ...           ...  ...           ...          ...
2023-07-13  30387.488281  31814.515625  ...  31476.048828  23686079548
2023-07-14  31474.720703  31582.253906  ...  30334.068359  20917902660
2023-07-15  30331.783203  30407.781250  ...  30295.806641   8011667756
2023-07-16  30297.472656  30437.560547  ...  30249.132812   8516564470
2023-07-17  30249.626953  30336.400391  ...  30145.888672  13240156074

[2192 rows x 6 columns]

## UREJANJE TABEL

Da bodo tabele lepo urejene najprej zapolnimo prazne prostore v tabelah. To storimo s pomočjo funkcije 'ffill'. Za lažjo preglednost bomo vse podatke zaokrožili na 4 decimalna mesta. Vse to storimo z naslednjo funkcijo:

In [51]:
from funkcije import uredi_podatke
podatki_o_kriptovalutah = uredi_podatke(podatki_o_kriptovalutah)
podatki_o_kriptovalutah["BTC-USD"]

                  Open        High  ...   Adj Close       Volume
Date                                ...
2017-07-17   1932.6200   2230.4900  ...   2228.4099   1201760000
2017-07-18   2233.5200   2387.6101  ...   2318.8799   1512450048
2017-07-19   2323.0801   2397.1699  ...   2273.4299   1245100032
2017-07-20   2269.8899   2900.7000  ...   2817.6001   2249260032
2017-07-21   2838.4099   2838.4099  ...   2667.7600   1489449984
...                ...         ...  ...         ...          ...
2023-07-13  30387.4883  31814.5156  ...  31476.0488  23686079548
2023-07-14  31474.7207  31582.2539  ...  30334.0684  20917902660
2023-07-15  30331.7832  30407.7812  ...  30295.8066   8011667756
2023-07-16  30297.4727  30437.5605  ...  30249.1328   8516564470
2023-07-17  30249.6270  30336.4004  ...  30145.8887  13240156074

[2192 rows x 6 columns]

## DOPOLNITEV TABEL

Do sedaj imamo za vse kriptovalute za vsak dan podano odpiralno vrednost ("Open"), najvišjo vrednost ("High), najnižjo vrednost ("Low"), zapiralno vrednost ("Close"), prilagojeno zaključno vrednost ("Adj close") in volumen ("Volume")V tem delu bomo našim tabelam dodali nove stolpce, v katerih bomo izračunali dnevno rast kriptovalut, ki nam pove za koliko enot se je tečaj spremenil v enem dnevu, njihovo dnevno povprečje, njihovo rast v procentih ter rast glede na določen datum x, za vse kasnejše dneve našega intervala.

### DNEVNA RAST

In [60]:
from funkcije import dodaj_dnevna_rast
podatki_o_kriptovalutah = dodaj_dnevna_rat(podatki_o_kriptovalutah)
podatki_o_kriptovalutah["BTC-USD"]

ImportError: cannot import name 'dodaj_dnevna_rast' from 'funkcije' (c:\Users\maja.kolaric\Desktop\PROJEKTNA\UVP-PROJEKTNA\funkcije.py)

### POVPREČJE

In [58]:
from funkcije import povprecje
podatki_o_kriptovalutah = povprecje(podatki_o_kriptovalutah)
podatki_o_kriptovalutah["BTC-USD"]

                  Open        High  ...       Volume   Povprečje
Date                                ...
2017-07-17   1932.6200   2230.4900  ...   1201760000   2080.5149
2017-07-18   2233.5200   2387.6101  ...   1512450048   2276.2000
2017-07-19   2323.0801   2397.1699  ...   1245100032   2298.2550
2017-07-20   2269.8899   2900.7000  ...   2249260032   2543.7450
2017-07-21   2838.4099   2838.4099  ...   1489449984   2753.0850
...                ...         ...  ...          ...         ...
2023-07-13  30387.4883  31814.5156  ...  23686079548  30931.7686
2023-07-14  31474.7207  31582.2539  ...  20917902660  30904.3946
2023-07-15  30331.7832  30407.7812  ...   8011667756  30313.7949
2023-07-16  30297.4727  30437.5605  ...   8516564470  30273.3028
2023-07-17  30249.6270  30336.4004  ...  13240156074  30197.7578

[2192 rows x 7 columns]

### RAST V PROCENTIH

In [61]:
from funkcije import rast_v_procentih
podatki_o_kriptovalutah = rast_v_procentih(podatki_o_kriptovalutah)
podatki_o_kriptovalutah["BTC-USD"]

                  Open        High  ...   Povprečje  Rast v %
Date                                ...
2017-07-17   1932.6200   2230.4900  ...   2080.5149    0.1531
2017-07-18   2233.5200   2387.6101  ...   2276.2000    0.0382
2017-07-19   2323.0801   2397.1699  ...   2298.2550   -0.0214
2017-07-20   2269.8899   2900.7000  ...   2543.7450    0.2413
2017-07-21   2838.4099   2838.4099  ...   2753.0850   -0.0601
...                ...         ...  ...         ...       ...
2023-07-13  30387.4883  31814.5156  ...  30931.7686    0.0358
2023-07-14  31474.7207  31582.2539  ...  30904.3946   -0.0362
2023-07-15  30331.7832  30407.7812  ...  30313.7949   -0.0012
2023-07-16  30297.4727  30437.5605  ...  30273.3028   -0.0016
2023-07-17  30249.6270  30336.4004  ...  30197.7578   -0.0034

[2192 rows x 8 columns]